<div class="Title">
    <div class="Title__text">
        Title
    </div>
    <div class="input__title__box">
        <input class="input__title" type="text">
    </div>
</div>
<div class="Title">
    <div class="Title__text">
        Text
    </div>
    <div class="input__title__box">
                <textarea name="comment" cols="40" rows="3" class="textArea__text">

                </textarea>
    </div>
</div>
<div class="Title">
    <div class="Title__text">
        Tags
    </div>
    <div class="input__title__box">
        <input class="input__title" type="text">
    </div>
</div>
<div class="button__box">
    <button class="button__ask">
        ASK!
    </button>
</div>