{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
{% include "incl/navBar.html" %}
<div class="page__body">
    <div class="posts__body">
        {% block block_content %}
        {% endblock %}
    </div>
    <div class="tags__body">
        <div class="tags__body-title">
            Popular tags
        </div>
        <div class="tags__body-tags">
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
        </div>
        <div class="tags__body-title">
            Best members
        </div>
        <div class="tags__body-members">
            <a href="#" class="member">Madara</a>
            <a href="#" class="member">Madara</a>
            <a href="#" class="member">Madara</a>
            <a href="#" class="member">Madara</a>
        </div>
    </div>
</div>
{% include "incl/paginate.html" %}
</body>
</html>
