<div class="login__title">
    Log In
</div>
<div class="wrong__pswd">
    Sorry, wrong password
</div>
<div class="login__input__box">
    <div class="ligin__input__title">
        login
    </div>
    <input class="login__input" type="text">
</div>
<div class="login__input__box">
    <div class="ligin__input__title">
        password
    </div>
    <input class="login__input" type="text">
</div>
<div class="login__button__box">
    <button href="#" class="button__login">
        log in!
    </button>
</div>
<div class="new__account">
    <a href="{% url 'signup' %}">
        Create new account
    </a>
</div>