<div class="page__bar">
    {% if questions.next_page_number > 4 or not questions.has_next%}
        <button class="page__bar__button" onclick="location.href='?page=1';">
            1
        </button>
        ...
    {% endif %}
    {% if questions.has_previous %}
        <button class="page__bar__button" onclick="location.href='?page={{ questions.previous_page_number }}';">
            {{ questions.previous_page_number }}
        </button>
    {% endif %}
    {% if questions.has_next %}
        <button class="page__bar__button" onclick="location.href='?page={{ questions.next_page_number }}';">
            <a href="?page={{ questions.next_page_number }}"></a>
            {{ questions.next_page_number }}
        </button>
    {% endif %}
    ...
    <button class="page__bar__button" onclick="location.href='?page={{ questions.paginator.num_pages }}';">
        {{ questions.paginator.num_pages }}
    </button>
</div>