<div class="login__text__settings User__title__settings">
    Settings: dr. User
</div>
<div class="login__settings">
    <div class="login__text__settings">
        Login
    </div>
    <div class="login__input__box__settings">
        <input class="login__input__setings " type="text">
    </div>
</div>
<div class="login__settings">
    <div class="login__text__settings">
        E-mail
    </div>
    <div class="login__input__box__settings">
        <input class="login__input__setings " type="text">
    </div>
</div>
<div class="login__settings">
    <div class="login__text__settings">
        NickName
    </div>
    <div class="login__input__box__settings">
        <input class="login__input__setings " type="text">
    </div>
</div>
<div class="login__settings">
    <div class="login__text__settings">
        upload Avatar
    </div>
    <div class="img__box__settings">
        <img class="avatar__Box__settings"
             src="https://img2.freepng.ru/20180810/otz/kisspng-computer-icons-avatar-vector-graphics-icon-design-charlie-chaplin-icon-free-avatars-iconset-diversit-5b6d7ab287dce5.0643184415339014905565.jpg">
    </div>
</div>
<div class="login__settings">
    <div class="login__input__box__settings">
        <input class="login__input__choose__settings" type="url">
        <button class="button">
            choose
        </button>
    </div>
</div>
<div class="login__settings">
    <button class="button" type="button">
        Save
    </button>
</div>