<div class="Registration__tittle">
    Registration
</div>
<div class="error__title">
    Sorry, this email address already exist
</div>
<div class="register__box">
    <div class="register__box__title">
        login
    </div>
    <div class="register__box__input">
        <input class="register__input" type="text">
    </div>
</div>
<div class="register__box">
    <div class="register__box__title">
        email
    </div>
    <div class="register__box__input">
        <input class="register__input" type="email">
    </div>
</div>
<div class="register__box">
    <div class="register__box__title">
        nickName
    </div>
    <div class="register__box__input">
        <input class="register__input" type="text">
    </div>
</div>
<div class="register__box">
    <div class="register__box__title">
        Password
    </div>
    <div class="register__box__input">
        <input class="register__input" type="text">
    </div>
</div>
<div class="register__box">
    <div class="register__box__title">
        repeat password
    </div>
    <div class="register__box__input">
        <input class="register__input" type="text">
    </div>
</div>
<div class="register__box">
    <div class="register__box__title">
        upload avatar
    </div>
    <div class="register__box__avatar">
        <input class="register__input__avatar" type="text">
    </div>
    <div class="register__box__button__avatar">
        <button href="#" class="avatar__button">
            Shoose img
        </button>
    </div>
</div>
<div class="register__box__button">
    <button class="register__button">
        Register!
    </button>
</div>