{% load static %}
<div class="post post_m">
    <div class="left">
        <img class="avatar" src="{% static "img/chaplin.jpg" %}">
        <div class="name">
            {{ question.user }}
        </div>
        <button type="image" class="like__box">
            <img src="{% static "img/like-10465.png" %}" class="img__like">
            <div class="like_font_box">
                {{ question.like }}
            </div>
        </button>
    </div>

    <div class="right">
        <div class="title__tag">
            <a href="{% url 'question' question.number %}" class="title__text">
                {{ question.title }}
            </a>
        </div>
        <div class="text">
            {{ question.text }}
        </div>
        <div class="row">
            <div class="tags">
                <div class="tags__tag">
                    Tags:
                </div>
                {% block tags_body_block %}
                    {% for tag in question.tags %}
                        <a class="tag" href="{% url 'tag' tag.tag %}">
                            {{ tag.tag }}
                            {{ question.number }}
                        </a>
                    {% endfor %}
                {% endblock %}
            </div>
            <div class="tags">
                <a class="tag" href="{% url 'question' question.number %}">
                    {{ question.answers }}
                </a>
            </div>
        </div>
    </div>
</div>