{% extends "incl/base.html" %}
{% load static %}
{% block block_pred_title %}
    {% include "incl/tag_pred_title.html" %}
{% endblock %}
{% block block_content %}
    {% for question in questions %}
    {% include "incl/singleQuestion.html" %}
    {% endfor %}
{% endblock %}
{% block tags_body_block %}
    {% for tag_block in tags_block %}
        {% include "incl/tags_base.html" %}
    {% endfor %}
{% endblock %}
{% block best_members_block %}
    {% for best_member_block in best_members_block %}
        {% include "incl/best_members.html" %}
    {% endfor %}
{% endblock %}
{% block block_pagination %}
    {% include "incl/paginate.html" %}
{% endblock %}
