{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <link rel="stylesheet" href="{%  static "css/question.css" %}"/>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>question</title>#}
{#</head>#}
{#<body>#}
{#<div class="header">#}
{#    <div class="logo">#}
{#        ASK KDV#}
{#    </div>#}
{#    <div class="search">#}
{#        <input class="search-input" type="text">#}
{##}
{#        <button href="#" class="button">#}
{#            ASK!#}
{#        </button>#}
{#    </div>#}
{#    <div class="buttons-wrapper">#}
{#        <div class="button">#}
{#            register#}
{#        </div>#}
{#        <div class="button">#}
{#            login#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="page__body">#}
{#    <div class="left">#}
{#        {% include "incl/question.html" %}#}
{#        {% include "incl/answer.html" %}#}
{##}
{#        <div class="page__bar">#}
{#            <button class="page__bar__button">#}
{#                1#}
{#            </button>#}
{#            <button class="page__bar__button">#}
{#                2#}
{#            </button>#}
{#            ...#}
{#            <button class="page__bar__button">#}
{#                43#}
{#            </button>#}
{#        </div>#}
{##}
{#        <div class="answer__field__box">#}
{#            <textarea class="answer__textarea__box">#}
{#            </textarea>#}
{#        </div>#}
{#        <div class="answer__button__box">#}
{#            <button class="answer__button">#}
{#                Answer#}
{#            </button>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="tags__body">#}
{#        <div class="tags__body-title">#}
{#            Popular tags#}
{#        </div>#}
{#        <div class="tags__body-tags">#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#            <a class="tag tags__body-tag-m" href="#">#}
{#                Кавабанга#}
{#            </a>#}
{#        </div>#}
{#        <div class="tags__body-title">#}
{#            Best members#}
{#        </div>#}
{#        <div class="tags__body-members">#}
{#            <a href="#" class="member">Madara</a>#}
{#            <a href="#" class="member">Madara</a>#}
{#            <a href="#" class="member">Madara</a>#}
{#            <a href="#" class="member">Madara</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}
{##}
{##}
{##}
{##}

{% extends "incl/base.html" %}
{% load static %}
{% block block_content %}
    <div class="left__question">
        {% include "incl/question.html" %}
        {% for answer in answers %}
            {% include "incl/answer.html" %}
        {% endfor %}

        {% include "incl/paginate_answer.html" %}
        {% include "incl/textarea_answer.html" %}
    </div>
{% endblock %}
{% block tags_body_block %}
    {% for tag_block in tags_block %}
        {% include "incl/tags_base.html" %}
    {% endfor %}
{% endblock %}
{% block best_members_block %}
    {% for best_member_block in best_members_block %}
        {% include "incl/best_members.html" %}
    {% endfor %}
{% endblock %}

