<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/signup.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signIn</title>
</head>
<body>
<div class="header">
    <div class="logo">
        ASK KDV
    </div>

    <div class="search">
        <input class="search-input" type="text">

        <button href="#" class="button">
            ASK!
        </button>
    </div>


    <div class="buttons-wrapper">
        <div class="button">
            register
        </div>
        <div class="button">
            login
        </div>
    </div>
</div>
<div class="register__body">
    <div class="left">
        <div class="Registration__tittle">
            Registration
        </div>
        <div class="error__title">
            Sorry, this email address already exist
        </div>
        <div class="register__box">
            <div class="register__box__title">
                login
            </div>
            <div class="register__box__input">
                <input class="register__input" type="text">
            </div>
        </div>
        <div class="register__box">
            <div class="register__box__title">
                email
            </div>
            <div class="register__box__input">
                <input class="register__input" type="email">
            </div>
        </div>
        <div class="register__box">
            <div class="register__box__title">
                nickName
            </div>
            <div class="register__box__input">
                <input class="register__input" type="text">
            </div>
        </div>
        <div class="register__box">
            <div class="register__box__title">
                Password
            </div>
            <div class="register__box__input">
                <input class="register__input" type="text">
            </div>
        </div>
        <div class="register__box">
            <div class="register__box__title">
                repeat password
            </div>
            <div class="register__box__input">
                <input class="register__input" type="text">
            </div>
        </div>
        <div class="register__box">
            <div class="register__box__title">
                upload avatar
            </div>
            <div class="register__box__avatar">
                <input class="register__input__avatar" type="text">
            </div>
            <div class="register__box__button__avatar">
                <button href="#" class="avatar__button">
                    Shoose img
                </button>
            </div>
        </div>
        <div class="register__box__button">
            <button class="register__button">
                Register!
            </button>
        </div>
    </div>
    <div class="right">
    </div>
    <div class="tags__body">
        <div class="tags__body-title">
            Popular tags
        </div>
        <div class="tags__body-tags">
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
            <a class="tag tags__body-tag-m" href="#">
                Кавабанга
            </a>
        </div>
        <div class="tags__body-title">
            Best members
        </div>
        <div class="tags__body-members">
            <a href="#" class="member">Madara</a>
            <a href="#" class="member">Madara</a>
            <a href="#" class="member">Madara</a>
            <a href="#" class="member">Madara</a>
        </div>
    </div>
</div>

</body>
</html>